<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Marca</th>
          <th class="h4">Linea</th>
          <th class="h4">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars">
          <td>
            <dd><b>{{ car.id }}</b></dd>
          </td>
          <td>
            <dd>{{ car.marca }}</dd>
          </td>
          <td>
            <dd>{{ car.linea }}</dd>
          </td>
          <td>
            <dd>{{ car.modelo }}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
